.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #202938;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin-top: 7%;
  max-width: 600px;
  text-align: center;
}

.list-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}
::-webkit-scrollbar { display: none; }
.node {
  flex-shrink: 0;
  width: 100px;
  height: 50px;
  background-color: #4a5568;
  color: white;
  margin-right: 10px;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  overflow: hidden;
}
.node-value {
  padding: 10px;
  background-color: #384152;
  border: 2px solid #333;
  border-radius: 8px;
  min-width: 50px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.arrow {
  width: 30px;
  height: 2px;
  background-color: #b9b7b7;
  position: relative;
  margin-left: 10px;
  margin-right: 25px;
  margin-top: 25px;
}
.arrow::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid #b9b7b7;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: -8px;
  top: -3px;
}
.null-node {
  padding: 10px;
  background-color: #384152;
  border: 2px dashed #626161;
  border-radius: 8px;
  min-width: 50px;
  text-align: center;
  font-weight: bold;
  color: #666;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

