.visualization-box {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #444;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.highlight-success {
    background: linear-gradient(to right, #38a169, #2f855a); /* From green-500 to green-700 */
}

.highlight-fail {
    background: linear-gradient(to right, #e53e3e, #c53030); /* From red-500 to red-700 */
}

.highlight-path {
    background-color: blue;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
}
